
<style>
.viewport {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    cursor: move;
    contain: strict;
    -webkit-perspective: 6000px;
    -webkit-perspective-origin: 50% -100%;
}
.viewport .world {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    -webkit-transform: rotateX(-15deg) rotateY(-20deg);

}

.viewport .world,
.viewport .world * {
    -webkit-transform-style: preserve-3d;
}
.viewport .ground {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    margin-left: -50%;
    margin-top: -50%;
    background: rgba(44,24,24,0.84);

    -webkit-transform: rotateX(90deg);
}
.viewport .histogram-3d {
    width: 80%;
    height: 80%;
    margin: 10% auto;
    border-collapse: collapse;
    border-style: groove;

    /* make sure grid is raised above ground */
    -webkit-transform: translateZ(1px);
}

.viewport .histogram-3d td {
    position: relative;
    width: 30%;
    height: 30%;
    padding: 10px;
    border: 2px solid #555;
    z-index: 0;
}
.viewport .bar {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.viewport .bar .face {
    background: hsl(0, 100%, 50%);
    position: absolute;
    width: 100%;
    opacity:0.8;
    overflow: hidden;
    z-index: 1;
}

.viewport .bar .face.front {
    background: hsl(0, 100%, 20%);
    bottom: 0;
    height: 1em;

    -webkit-transform-origin: bottom center;
    -webkit-transform: rotateX(-90deg);
}

.viewport .bar .face.right {
    top: 0;
    right: 0;
    width: 1em;
    height: 100%;

    -webkit-transform-origin: center right;
    -webkit-transform: rotateY(90deg);
}

.viewport .bar .face.left {
    background: hsl(0, 100%, 45%);
    top: 0;
    left: 0;
    width: 1em;
    height: 100%;

    -webkit-transform-origin: center left;
    -webkit-transform: rotateY(-90deg);
}

.viewport .bar .face.back {
    top: 0;
    height: 1em;

    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(90deg);
}

.viewport .bar .face.top {
    background: hsl(0, 100%, 40%);
    height: 100%;
    width: 100%;
    top: 0;

    -webkit-transform: translateZ(5em);
}
</style>
<div id="sky" colorkey="sky" style="width:140%;min-height:400px;" fullscreen="fillerup" >
<fieldset class="material">
<label>Search</label>
<hr>
<input type="text" id="patterninput" ng-model="config.pattern" ng-dblclick="fillerup = !fillerup"/>
</fieldset>

<div class=" viewport">
    <div class="htmlz world" rotate3d>
        <div class="ground card-dark" >
<table class="histogram-3d" ffbase="{{histogram.col}}">
<tr ng-repeat="tab in item.roarlist" ffbase="{{tab}}">
  <td class="td-{{item.styleClass}}"> {{item.rid}} - {{item.title}}<br>{{item.description}}</td>
                  <td ng-repeat="thing in item.roarlist" ffbase="{{thing}}" ng-include="'bartpl'" ng-init="it = thing;">{{item.rid}}</td>
<!--</tr>-->
                    <td histo='30'>30</td>
                    <td histo='20'>20</td>
                    <td histo='30'>60</td>
                </tr>
                <tr><cubed one="<td histo='80'>80</td>" four="<td>40</td>" draggable>

                    <td><img src="https://lexlab.io/llp_core/img/lll3.svg" /></td>
</cubed>
                </tr>
                <tr>
                    <td histo="50">50</td>
                    <td histo="30">30</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script id="bartpl" type="text/ng-template">

<div class="bar" ffbase="{{it}}" ng-style="font-size:{{item.rid||'5'}}">
        <div class="face top" id="digest">
        <img width="100%" height="100%" ng-src="/patents/{{item.$id.slice(0,7)}}/preview"/>
        </div>
        <div class="face front" id="merits">FF</div>
        <div class="face back" id="all">BB</div>
        <div class="face left" id="claims">L</div>
        <div class="face right" id="art">R</div>
        <d3pendingtree patent="{{item.id.slice(0,7)}}" tree="trees[$index]" pattern="{{config.pattern}}"></d3pendingtree>

    </div>
    </script>
</div>
