<header class="bar bar-dark" style="display:flex;justify-content:space-around;">
  <label ng-bind="time.selectedtheme"></label>
  <input ng-model="time.source" placeholder="SourceID" type="text" />
 <button class="fa fa-download btn btn-primary" ng-click="time.import(time.source)"></button>
 <button class="fa fa-external-link btn btn-info" ng-click="time.export()"></button>

<button class="fa fa-save btn btn-success" ng-click="time.save()"></button>
<button class="fa fa-play btn btn-warning" ng-click="time.initialize()"></button>
</header>
<section id="timeline" ></section>
    <json-formatter json="time.data"></json-formatter>
   <div class="card card-fancy card-block">
         <dir-pagination-controls pagination-id="timeline" template-url="/llp_core/bower_components/angular-utils-pagination/dirPagination.tpl.html"
            class=""></dir-pagination-controls>
        <div class="card card-fancy img-hover img-shadow bs-callout bs-callout-Applicant" dir-paginate="rvent in time.data.timeline.date | itemsPerPage: 10" pagination-id="timeline">
            <h4 class="card-title"><img ng-src="{{rvent.asset.thumbnail}}" style="max-height:100px;" onaftersave="time.save()" editable-text="rvent.asset.thumbnail" class="img img-thumbnail img-hover pull-left">
            <span editable-text="rvent.headline" onaftersave="time.save()">{{rvent.headline}}</span>
            <select ng-model="rvent.asset.type">
              <option ng-repeat="type in time.eventtypes" value="{{type.value}}" label="{{type.label}}"></option>
            </select>
            <small class="text-muted" onaftersave="time.save()" editable-date="rvent.startdate">{{rvent.startdate | date}}</small> <a class="pull-right" ng-click="time.remove(slide)"><i class="fa fa-close text-muted"></i></a></h4>
            <p ng-bind-html="rvent.text | trustAsHTML" editable-textarea="rvent.text" onaftersave="time.save()" e-ckeditor="ckdefault"></p>
        </div>
   </div>

<script type="text/javascript" src="./build/js/storyjs-embed.js"></script>
